<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>

<listener class-name="listeners.Listeners"></listener>

</listeners>
  <test thread-count="10" name="tests">
  
  <classes>
  <class name="tests.LoginTest"></class>
  <class name="tests.ForgotPassTest"></class>
  <class name="tests.ResetPassword"></class>
  <class name="tests.MembersTest"></class>
  </classes>
 
  </test> <!-- Test -->
</suite> <!-- Suite -->
